
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffd700;
}

/*Code for the design of the banner*/
.banner {
  background: #ff2400;
  text-align: center;
  animation: scrollBanner 15s linear infinite;
  padding: 20px;
}

.banner__content {
  padding: 16px;
}

/*all of the nav bar things*/
/*color of navbar*/
.navbar ul {
  list-style-type: none;
  background-color: white;
  padding: 0px;
  margin: 00px;
  overflow: hidden;
}
/*color of letters and dist from edges*/
.navbar a {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
/*color that the navbar turns when you hover over it*/
.navbar a:hover {
  background-color: gray;
}
/*floats the navbar to the left*/
.navbar li {
  float: left;
}

/* Eye catch (read watch calender + add more if u want) */
.themenu {
  text-align: center;
  margin-top: 20px; 
}

.themenu h1 {
  font-size: 3em;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

/* Anime section (popping animes + add others if u want and mangas too) */
.sec {
  text-align: center;
  margin-top: 500px; 
}

.sec h2 {
  font-size: 2em;
  color: #ff2400;
}

.anime-list {
  list-style: none;
  padding: 0;
}

.anime-list li {
  display: inline-block;
  margin: 0 15px;
}

.anime-list a {
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}

.anime-list a:hover {
  color: #ff2400;
}

/*This is the image size and position code*/
.poo-img {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 65px;
  left: 50px;
}

.all-img {
  width: 800px;
  height: 800px;
  opacity: 0.5;
}

.aof-img {
  width: 600px;
  height: 600px;
  opacity: 0.5;
}

.goku-img {
  width: 700px;
  height: auto;
  position: absolute;
  border-radius: 50px;
  top: 150px;
  left: 430px;
  z-index: 2;
  opacity: 1;
}

/* Banner animation (DONT TOUCH) */
@keyframes scrollBanner {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
